* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: serif;
  font-size: 25px;
}

.container {
  width: 50%;
  height: 50vh;
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* gap: 10px;
  justify-content: space-evenly;
  align-content: space-around;
  place-content: center center; */

  /* align-content: center; */
  /* align-items: center; */
  /* text-align: center; */
}

.box-1 {
}
.box-2 {
}
.box-3 {
  align-self: end;
}
.box-4 {
}
