* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 40px;
  width: 100%;
  height: 100vh;
}

[class^="box-"] {
  display: grid;
  place-items: center;
  background-color: aquamarine;
}

.container {
  display: grid;
  /* gap: 20px; */
  column-gap: 20px;
  row-gap: 20px;
  min-height: 100vh;
  border: 2px solid red;
  /* grid-template-columns: 200px auto 100px; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: 200px auto 100px; */
  /* grid-template-rows: repeat(3, 1fr); */
  /* grid-template: 400px 100px / 200px 100px; */
  grid-template: repeat(12, 100px) / repeat(12, 100px);
  /* grid-template-areas:
    "A A A A"
    "B B B C"
    "B B B C"
    "B B B C"; */
  /* justify-items: end; */
  /* justify-content: center; */
  /* align-items: center; */
  /* align-content: center; */
  /* place-items: center; */
  /* place-content: space-between; */
}

.box-1 {
  /* grid-area: A; */
  /* grid-column-start: 1;
  grid-column-end: 12; */
  /* grid-column: span 14; */
  grid-row: span 9;
}
.box-2 {
  /* grid-area: B; */
}
.box-3 {
  /* grid-area: C; */
}

bar {
  font-size: 5rem;
}

@media (min-width: 500px) {
  html {
    font-size: 30px;
  }
}
