.nav-bar {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 20px; */
  justify-content: space-around;
}

.nav-bar-item {
  background-color: aquamarine;
  border-radius: 10px;
}

@media (max-width: 480px) {
  .nav-bar {
    flex-direction: column;
    gap: 20px;
  }
  .nav-bar-item {
    text-align: center;
  }
}
